%h1= @team.title

%h2
  = @team.description
  Welcome to the
  = @team.alias
- unless @is_joined
  %h2
    - form_tag '/teams_users' do
      = submit_tag 'Join'
- else
  %a{:href => new_diary_path} write

  %ul
  - for user in @team.user
    %li.user
      %a{:href => '/users/'+user.alias+'/@/'+@team.alias}
        = user.alias
