- unless @diaries.empty?
  - for diary in @diaries
    .diaries_view 
      %p.when
        %span.month
          = diary.created_at.month 
        & .
        = diary.created_at.day
        & -
        = diary.created_at.year
      = markdown(diary.body)
      %p.info
        Author:
        %a{:href=>'/users/'+diary.user.alias}
          = diary.user.alias
        Team:
        %a{:href=>'/teams/'+diary.team.alias}
          = diary.team.alias
- else
  %p#notice
    쓰여진 Diary가 존재하지않습니다 
    - if User.find(session[:user_id]).team[0]  
      %a{:href => '/teams/'+@find.alias}
        Team으로 돌아가기
    - else
      %a{:href => '/users/'+@find.alias} myPage ...
