<h1>New diary</h1>

- form_for(@diary) do |f|
	= f.error_messages
	%dl
		%dt= f.label 'body'
		%dd= f.text_area 'body'
	= f.hidden_field 'user_id', :value => session[:user_id]
	= f.hidden_field 'team_id', :value => @id

	%p= f.submit 'create'

