%h1 Edit Users
- form_for(@user) do |f|
  = f.error_messages
  %dl
    %dt= f.label :password
    %dd= f.password_field :password, :value => ''
                       
    %dt= f.label :alias
    %dd= f.text_field :alias
                     
    %dt= f.label :url
    %dd= f.text_field :url
                                            
    %p= f.submit 'Edit'

