%h2 New User 

- form_for(@user) do |f|
  = f.error_messages
  %dl
    %dt= f.label :email
    %dd= f.text_field :email

    %dt= f.label :password
    %dd= f.password_field :password_hash

    %dt= f.label :alias
    %dd= f.text_field :alias
    
    %dt= f.label :url	
    %dd= f.text_field :url

  %p= f.submit 'Create'

= link_to 'Back', users_path
