!!! 1.0 Strict
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %title  Main : #{controller.action_name}
    = stylesheet_link_tag 'scaffold'
  %body
    - if flash[:notice]
      %p(style="color:green")
        = flash[:notice]
    - if session[:user_id]
      %ul#toolbar
        %li
          - form_tag '/teams/search' do
            =text_field 'search', ''
            =submit_tag 'Search'
        %li
          %a{:href => '/users/'+User.find(session[:user_id]).alias}
            myPage
        %li
          %a{:href => '/users/'+User.find(session[:user_id]).alias+'/@'}
            myDiaries
        %li
          %a{:href => '/users/'+User.find(session[:user_id]).alias+'/*'}
            myTeam
        %li
          = User.find(session[:user_id]).alias
          %a(href="/main/logout") logout
    = yield
